<div class="container">
<hr>
<div class="jumbotron">
<h1>Edit the movie details here</h1>




<%  if @movie.errors.any? %>

  <div class = 'errors'>
    <p>There were problems editing this movie:</p>
    <ul>
      <% @movie.errors.full_messages.each do |message| %>
      <li><%= message %></li>
   
      <% end %>
       </ul>
  </div>

<% end %>


<%= form_for @movie do |f| %>
<!-- f is the form builder -->
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :description %>
<%= f.text_area :description %>

<%= f.label :year_released %>
<%= f.text_area :year_released %>

<%= f.submit %> or <%= link_to "Cancel", root_path %>

<% end %>
</div>
<hr>
</div>