


      <%  if @url.errors.any? %>

        <div class = 'errors'>
          <ul>
            <% @url.errors.full_messages.each do |message| %>
            <li><%= message %></li>
         
            <% end %>
             </ul>
        </div>

      <% end %>
      

      <H1>Welcome to Ritly</H1>
      
      <h3>Enter a URL to Shorten</h3>
      
      <%= form_for @url do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit %> 
      <% end %>
      <hr>

      <h3>Or search using an old site</h3>

      <span class = "lead">
      <%= form_tag search_path do %>
        <%= text_field_tag 'search' %>
        <%= submit_tag 'go' %>
      <% end %>
      </span>

