
      <h1>Your Search Results for <%= params[:search] %></h1>
      <ul>
        <% @urls.each do |url| %>
            <li><%= "#{url.name}"%> : <strong> <a href="<%= url.short_link %>"><%= url.short_link %></a></strong>
        <% end %>
      </ul>
  <hr>
  <p><%= link_to "Search Again", root_path %></p>


